.ep_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.ep_content{
    width: 343px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 149px;
    text-align: center;
}
.ep_content1{
    width: 343px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    text-align: center;
}
.ep_picture{
    height: 56px;
    width: 56px;
    margin: auto;
    background-image: url(./../images/ufo.png);
}
.ep_title{
    margin: 8px 0 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #050510;
}
.ep_text{
    margin: 12px 0 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #97979B;
}
.ep_link{
    margin: 12px 0 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #6534FF;
    text-decoration: none;
    cursor: pointer;
}